* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main {
    display: flex;
    background: url(img/background.jpg);
    height: 100svh;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#year,
#countdown {
    color: white;
}
